.job-seeker-main .first-section {
    width: 100%;
    background: transparent radial-gradient(closest-side at 67% 46%, #102D37 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

.job-seeker-main .first-section .first-section-content {
    display: flex;
    padding: 180px 0 0;
    justify-content: space-between;
    align-items: center;
}

.job-seeker-main .first-section .first-section-content .first-section-text-part,
.job-seeker-main .first-section .first-section-content .first-section-image {
    width: 50%;
}

.job-seeker-main .first-section .first-section-content .first-section-text-part .title {
    font: normal normal 800 52px/63px Poppins;
    font-family: Poppins-Bold;
    font-weight: 800;
    color: #FFFFFF;
    padding-bottom: 28px;
}

.job-seeker-main .first-section .first-section-content .first-section-text-part .description {
    width: 100%;
    max-width: 727px;
    font: normal normal 20px/28px Poppins;
    font-family: Poppins-Regular;
    font-weight: 500;
    padding-bottom: 55px;
}

.job-seeker-main .first-section .first-section-content .first-section-text-part .description .text-green {
    color: #01E9A1;
}

.job-seeker-main .first-section .first-section-content .first-section-image img {
    max-width: 745px;
    max-height: 591px;
}

.job-seeker-main .first-section .first-section-content .first-section-text-part .get-started-btn {
    display: inline-block;
    padding: 5px;
    width: 225px;
    height: 58px;
    text-align: center;
    border-radius: 28px;
    font: normal normal 600 16px/25px Poppins;
    font-weight: 600;
    font-family: Poppins-Regular;
    color: #0F2932;
  
}

.job-seeker-main .second-section .second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 85px 0 50px 0;
}

.job-seeker-main .second-section .second-section-content .title {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}

.job-seeker-main .second-section .second-section-content .title .shadow-title {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    opacity: 0.1;
    top: -40%;
    width: 100%;
    margin: 0 auto;
    font: normal normal 800 62px/70px Poppins;
    font-family: Poppins-Bold;
    font-weight: 800;
    color: #050F12;
}

.job-seeker-main .second-section .second-section-content .title .main-title {
    font: normal normal 800 58px/70px Poppins;
    font-family: Poppins-Bold;
    font-weight: 800;
    color: #050F12;
    text-align: center;
}

.job-seeker-main .second-section .second-section-content .image img {
    max-width: 1100px;
    
}

.job-seeker-main .third-section {
    position: relative;
    width: 100%;
    background: transparent radial-gradient(closest-side at 67% 46%, #102D37 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

.job-seeker-main .third-section .background-light {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 1133px;
    max-height: 594px;
    background: #E5E7FF 0% 0% no-repeat padding-box;
}

.job-seeker-main .third-section .third-section-content {
    padding: 80px 0 50px 0;
}

.job-seeker-main .third-section .third-section-content .how-it-works {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
}

.job-seeker-main .third-section .third-section-content .how-it-works .shadow-title {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    opacity: 0.1;
    top: -40%;
    width: 100%;
    margin: 0 auto;
    font: normal normal bold 55px/62px Poppins;
    font-family: Poppins-Bold;
    font-weight: 800;
    color: #FFFFFF;
}

.job-seeker-main .third-section .third-section-content .how-it-works .main-title {
    font: normal normal bold 32px/56px Poppins;
    font-family: Poppins-Bold;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
}

.job-seeker-main .third-section .third-section-content .slider-part {
    width: 100%;
    display: flex;
    align-items: center;
}

.job-seeker-main .third-section .third-section-content .slider-part .koligate-screens {
    width: 40%;
}

.job-seeker-main .third-section .third-section-content .slider-part .slider-list {
    width: 60%;
    top: 25px;
    margin: 0 auto;
}

.job-seeker-main .third-section .third-section-content .slider-part .slider-list .slider-item img {
    width: 100%;
    height: 100%;
    max-width: 828px;
    max-height: 539px;
    margin: 0 auto;
}

.job-seeker-main .third-section .slick-prev {
    left: 30px;
    z-index: 1;
}


.job-seeker-main .third-section .slick-prev:before {
    background: url("../../images/arrow-left.svg") no-repeat;
    opacity: 1 !important;
    content: "";
    display: flex;
    width: 20px;
    height: 27px;
}

.job-seeker-main .third-section .slick-next {
    right: 30px;
    z-index: 1;
}

.job-seeker-main .third-section .slick-next:before{
    background: url("../../images/arrow-right.svg") no-repeat;
    opacity: 1 !important;
    content: "";
    display: flex;
    width: 20px;
    height: 27px;
}

.job-seeker-main .third-section .third-section-content .slider-part .koligate-screens .koligate-screens-item {
    font: normal normal 25px/50px Poppins;
    font-family: Poppins-Medium;
    color: #FFFFFF;
    background: url("../../images/rec.svg") no-repeat left;
    padding-left: 60px;
}

.job-seeker-main .third-section .third-section-content .slider-part .koligate-screens .koligate-screens-item.active {
    color: #04BBFD;
    background: url("../../images/rec_blue.svg") no-repeat left;
}

.job-seeker-main .third-section .third-section-content .slider-part .koligate-screens .learn-more-btn {
    width: 214px;
    height: 48px;
    background: transparent linear-gradient(100deg, #02E6A9 0%, #04BBFD 100%) 0% 0% no-repeat padding-box;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font: normal normal 600 18px/27px Poppins;
    font-family: Poppins-Regular;
    color: #0F2932;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
}


.job-seeker-main .forth-section .forth-section-content .video-part {
    width: 60%;
}

.job-seeker-main .forth-section .forth-section-content .video-part img {
    max-width: 944px;
    max-height: 529px;
}

.job-seeker-main .forth-section .forth-section-content .title {
    width: 40%;
    position: relative;
}

.job-seeker-main .forth-section .forth-section-content .title .shadow-title {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    opacity: 0.1;
    top: -40%;
    width: 100%;
    margin: 0 auto;
    font: normal normal 800 45px/63px Poppins;
    font-family: Poppins-Bold;
    font-weight: 800;
    color: #ffffff;
}

.job-seeker-main .forth-section .forth-section-content .title .main-title {
    font: normal normal 800 45px/63px Poppins;
    font-family: Poppins-Bold;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
}

.job-seeker-main .fifth-section .fifth-section-content {
    padding: 65px 0 85px 0;
}

.job-seeker-main .fifth-section .fifth-section-content .title {
    width: 100%;
    position: relative;
    padding-bottom: 67px;
}

.job-seeker-main .fifth-section .fifth-section-content .koligate-benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 83px 176px;
}


.job-seeker-main .fifth-section .fifth-section-content .koligate-benefits-list .koligate-benefits-item:hover .front-card {
    transform:rotateY(180deg);
}

.job-seeker-main .fifth-section .fifth-section-content .koligate-benefits-list .koligate-benefits-item:hover .back-card {
    transform: perspective(600px) rotateY(0deg);
}

.job-seeker-main .fifth-section .fifth-section-content .koligate-benefits-list .koligate-benefits-item .front-card {
    width: 319px;
    height: 260px;
    background: #102D37 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000001C;
    border-radius: 18px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    backface-visibility: hidden;
    position:absolute;
    transition: transform .5s linear;
}

.job-seeker-main .fifth-section .fifth-section-content .koligate-benefits-list .koligate-benefits-item .front-card img,
.job-seeker-main .fifth-section .fifth-section-content .koligate-benefits-list .koligate-benefits-item .back-card img {
    width: auto;
    height: auto;
}

.job-seeker-main .fifth-section .fifth-section-content .koligate-benefits-list .koligate-benefits-item .front-card span {
    font: normal normal 600 25px/50px Poppins;
    font-family: Poppins-Regular;
    color: #FFFFFF;
    text-align: center;
}

.job-seeker-main .fifth-section .fifth-section-content .koligate-benefits-list .koligate-benefits-item .back-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 319px;
    height: 260px;
    background: transparent linear-gradient(100deg, #02E6A9 0%, #04BBFD 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0 0 0 6px #f3f5f6 inset;
    border-radius: 18px;
    border: 1px solid #06759C;
    padding: 0 12px;
    transform:rotateY(180deg);
    overflow:hidden;
    backface-visibility: hidden;
    transition: transform .5s linear;
}

.job-seeker-main .fifth-section .fifth-section-content .koligate-benefits-list .koligate-benefits-item .back-card span {
    max-width: 301px;
    width: 100%;
    font: normal normal 600 16px/22px Poppins;
    font-family: Poppins-Regular;
    color: #102D37;
    text-align: center;
}

.job-seeker-main .seventh-section {
    width: 100%;
    background: transparent radial-gradient(closest-side at 67% 46%, #102D37 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

.job-seeker-main .seventh-section .seventh-section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.job-seeker-main .seventh-section .seventh-section-content .image {
    width: 50%;
    display: flex;
}

.job-seeker-main .seventh-section .seventh-section-content .image img {
    max-width: 567px;
    max-height: 344px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

.job-seeker-main .seventh-section .seventh-section-content .title {
    width: 50%;
    position: relative;
}

.job-seeker-main .seventh-section .seventh-section-content .title .shadow-title {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    opacity: 0.1;
    top: -40%;
    width: 100%;
    margin: 0 auto;
    font: normal normal 800 45px/140px "Poppins-Bold";
    color: #FFFFFF;
    transform: scale(1.08);
}

.job-seeker-main .seventh-section .seventh-section-content .title .main-title {
    font: normal normal 800 45px/63px Poppins;
    color: #FFFFFF;
    font-family: Poppins-Bold;
    font-weight: 800;
    text-align: center;
}

.job-seeker-main .seventh-section .seventh-section-content .title .learn-more-btn {
    margin: 45px 75px;
    width: 214px;
    height: 48px;
    background: transparent linear-gradient(107deg, #01E9A1 0%, #04BBFD 100%) 0% 0% no-repeat padding-box;
    border-radius: 24px;
    font: normal normal 18px/27px Poppins;
    font-weight: 600;
    font-family: Poppins-Regular;
    color: #0F2932;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 0 rgba(143, 250, 217, 255);
    border: none;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
    opacity: 1;
}

.job-seeker-main .seventh-section .seventh-section-content .title .learn-more-btn:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    text-decoration: none !important;
}

@-webkit-keyframes pulsing {
    to {
        box-shadow: 0 0 0 8px rgba(143, 245, 217, 255)
    }
}

@-moz-keyframes pulsing {
    to {
        box-shadow: 0 0 0 8px rgba(143, 245, 217, 255);
    }
}

@-ms-keyframes pulsing {
    to {
        box-shadow: 0 0 0 8px rgba(143, 245, 217, 255);
    }
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 8px rgba(143, 245, 217, 255);
    }
}